body{
  background-color: #000839;
  text-align: center;
}
h1{
  color:#fe346e;
  font-family: 'Indie Flower', cursive;
  font-size: 6.7rem;
  font-style: italic;
  font-weight: bold;
  padding: 3% 15%;
}
h3{
  color:#fe346e;
  font-family: 'Indie Flower', cursive;
  font-size: 4.8rem;
  font-style: italic;
  padding: 3% 8%;
}
footer{
  color:#fe346e;
  font-size: 1rem;
  padding-top: 10%;
}
